@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

body {
    font-family: "Nerko One", cursive;
    background-color: #f0f0f0;
    margin: 0;
    overflow: hidden;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caixa {
    background-color: rgba(252, 252, 252, 0.0);
    border-radius: 5px;
    padding: 50px;
    width: 700px;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    top: 100px;
    color: #ffffff; 
    font-size: 48px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #020202;
    color: #ffffff; /
}

input[type="text"]:not(:last-of-type) {
    margin-bottom: 10px;
}

input[type="text"]::placeholder {
    color: #888888; 
}

button {
    padding: 10px 15px;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    cursor: pointer;
    font-family: "Nerko One", cursive;
}

button:hover {
    background-color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

button.remove {
    background-color: #dc3545;
}

button.remove:hover {
    background-color: #c82333;
}

.task-details {
    margin-left: 10px;
    font-size: 14px;
    color: #555;
}
