body {
    font-family: "Nerko One", cursive;;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.caixa{
    background-color: #f4ec58;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(98, 216, 214, 0.1);
    padding: 50px;
    width: 700px;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 90px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #a9e8f2;
    color: #000000;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

button.remove {
    background-color: #dc3545;
}

button.remove:hover {
    background-color: #c82333;
}
.h1{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}